//Inside the switch component, "ok" button
.chooseLanguages-btn{
  margin-top:1rem;
  font-size:1.2rem;
  color:$color-white;
  position:absolute;
  border-radius: 3px;
  width:4rem;
  height:2rem;

  margin-left:14rem;
background-color: rgba($color-black,.6);
transition:all .4s;
&:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5);
}
&:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
}


//ADMIN
.delete-btn{
  font-size:1.7rem;
  font-weight: 900;
  position:absolute;
  color:$color-yellowish-gray;
  width:100%;
  height:auto;
  background-color:rgba(16, 15, 15, 0.5);
  border:1px solid orange;
  top:2.2rem;
  right:2.1rem;
  transition: all .2s;
   &:hover{
  transform:translateY(-1px);
  box-shadow: 0 4px 10px rgba(16, 15, 15, 0.5);

}
&:active{
  transform:translateY(-.5px);
  box-shadow: 0 3px 5px rgba(255, 84, 84, 0.4);
}
}
.admin__subjectform--btn{
  margin-top:1rem;
  font-size:1.2rem;
  color:$color-white;
  position:absolute;
  border-radius: 3px;
  width:5.5rem;
  height:2rem;
  text-transform: uppercase;
  margin-left:3rem;
  background-color: rgba($color-black,.6);
  transition:all .4s;
  &:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5);

}
&:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4);
}
}
.mappingpairscontainer__grid--deletebtn{
  width:3rem;
  height:3rem;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 1;
  transition: all .3s;
  &:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5);
}
&:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4);
}
}
.addpair-div{

  position:relative;
  color:white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  &_btn{
    position:absolute;
    top:4rem;
    left:-8rem;
  font-size:1.2rem;
  color:$color-white;
  border-radius: 3px;
  width:6rem;
  height:4rem;
background-color: rgba($color-black,.6);
transition:all .4s;
&:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5);
}
&:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
  }
}
.form-btn{
  top:20rem;
  font-size:1.2rem;
  color:$color-white;
  position:absolute;
  border-radius: 2px;
  width:10.5rem;
  height:3rem;
  text-transform: uppercase;
  margin-left:30rem;
  background-color: rgba($color-black,.6);
  transition:all .4s;
  &:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5);

}
&:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4);
}
}