
.child_parent_div{
  position:absolute;
  top:0;
  left:0;
  z-index: 65;
}
.child{
  margin-left:auto;
 margin-right:auto;
  position:relative;
  top:5rem;
  left:28rem;
  z-index:70;
  display:grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;

  width:60rem;
  &__subjectscontainer{
grid-column: span 2;

  right:10rem;
  width:10rem;
  align-items:center;
  justify-content: center;
  position:absolute;
  // animation-duration:2s;
  // animation-name: moveInLeft;

  grid-column-start:1;
  grid-column-end: 1;
  }
  &__subjects{
    position: relative;
    background-color: rgba(#fff,.1);
    line-height:5rem ;
   overflow: hidden;
  text-overflow: ellipsis;
margin-top:0.2rem;
color:#1B1A17;
  cursor:pointer;
  width:10rem;
  height:7.5rem;
  border: 1px solid orange;
  text-align:center;
  transition:all .3s;

  &:hover{
    background-color: #47a00c;
    border-radius: 30px;;
  border:0.1px solid rgb(45, 45, 45);
  font-size:1.3rem;
  color:#ffffff;
  box-shadow: 0 1rem 1rem rgba(black,.4);
  }
}

}
.tableinusechild{
  border-radius: 20px;
  position:relative;
  text-align: center;
  width:20rem;
  height:4rem;
  padding:1rem;
  font-size:1.5rem;
  font-weight:500;
  border: 1px solid grey;
  color:#E45826;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:2;
  grid-column-end: 2;
  left:10rem;
  background-color: rgba($color-yellowish-gray,0.3);
  box-shadow:0 1rem 2rem rgba(black,.3);

}