/*FILTER*/

.filter-container{
  margin-left:auto;
 margin-right:auto;
  color:rgb(255, 255, 255);
  position:relative;
 align-items:center;
  width:37rem;
  display:grid;
}
.filter-child{
  padding:1rem 1rem;
  align-items:center;
  color:#2d311b;
  font-size:1.5rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
  text-align: center;
  cursor:pointer;
  width:10rem;
  height:4rem;
  border-radius:3px;
  margin-right: 1rem;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 1;
  transition:all 2s;
&:hover{
  
  background-color: rgba(255, 255, 255,0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
&:active{
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
}

.filter-admin{
  padding:1rem 1rem;
  align-items:center;
  color:#2d311b;
  font-size:1.5rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
 margin-right: 1rem;
   text-align: center;
  cursor:pointer;
  width:10rem;
  height:4rem;
  
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:2;
  grid-column-end: 2;
  transition: all 2s;
  &:hover{
  
  background-color: rgba(255, 255, 255,0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
&:active{
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
}

.filter-register{
 padding:1rem 1rem;
  align-items:center;
  color:#2d311b;
  font-size:1rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
 margin-right: 1rem;
   text-align: center;
  cursor:pointer;
  width:10rem;
  height:4rem;

  
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:3;
  grid-column-end: 3;
  transition:all 2s;
  &:hover{
  
  background-color: rgba(255, 255, 255,0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
&:active{
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
}
