*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:10px;
}
body{
  background-color: #1B1A17;
  padding:30px;
  line-height: 1.8;
  font-family:"Lato", sans-serif;
  
}
.Appjs{
  
  
}
.filter-container{
  margin-left:auto;
 margin-right:auto;
  color:rgb(255, 255, 255);
  position:relative;
  
  width:200px;
  display:grid;
}
.filter-child{
  font-weight: 600;
  background-color: #F0A500;
  text-align: center;
  cursor:pointer;
  width:100px;
  height:40px;
  
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 1;
}
.filter-admin{
 
   font-weight: 600;
  background-color: #E45826;
   text-align: center;
  cursor:pointer;
  width:100px;
  height:40px;
  
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:2;
  grid-column-end: 2;
}
.filter-register{
 
   font-weight:400;
  background-color: #F0A500;
   text-align: center;
  cursor:pointer;
  width:100px;
  height:40px;
  
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:3;
  grid-column-end: 3;
}
.mainAdmin{
  max-width: max-content;
  margin-left:auto;
 margin-right:auto;
  position:relative;
  top:10rem;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
  display: grid;
}
.subjectscontaineradmin{
  width:300px;
  align-items:center;
  
  position:relative;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end: 1;
  
}
.subjectsadmin{
  position:relative;
  animation-duration:5s;
  animation-name: moveInLeft;
 margin-top:10px;
  color:#E6D5B8;
  cursor:pointer;
  width:100px;
  height:75px;
  border: 1px solid orange;
  text-align:center;
}
.creatingnewsubjectform{
  animation-duration:5s;
  animation-name: fadingIn;
  color:white;
}
.deleteAsubject{
  animation-duration:5s;
  animation-name: moveInLeft;
  position:relative; 
  top: -85px; 
  right: 59px;
  
  text-align: center;
  
}
.delete-btn{
  font-size:6px;
  position:absolute;
  border-radius: 100%;
  width:20px;
  height:20px;
  padding:5px;
      
    }
   
.separatoradmin{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end: 2;
  width:0.5px;
  height:25rem;
  border: solid rgb(255, 255, 255) 0.5px;
}
.Child{
  margin-left:auto;
 margin-right:auto;
  position:relative;
  top:5rem;
  display:grid;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
  width:50rem;
  
}
@keyframes fadingIn{

  0% {
    opacity:0;
    
  }
80% {
   
}
100% {
  opacity: 1;
  
}
}
@keyframes moveInLeft{

  0% {
    opacity:0;
    transform: translateX(-100px);
  }
80% {
    transform:translateX(10px);
}
100% {
  opacity: 1;
  transform: translate(0);
}
}
.subjectscontainer{
  margin:1rem;
  
  width:30rem;
  align-items:center;
  justify-content: center;
  position:relative;
  animation-duration:5s;
  animation-name: moveInLeft;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end: 1;
}
.tableinusechild{
  border-radius: 20px;
  position:relative;
  text-align: center;
  width:200px;
  border: 1px solid grey;
  color:#E45826;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:2;
  grid-column-end: 2;
  right:7rem;
  
}

.challenge{
  margin-left:-9.8rem;
  position:relative;
  right:30%;
  display:grid;
  width:50rem;
  border:0.2 solid white;
   grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end: 2;
  max-height: 12rem;
  margin-top:1.2rem;
}
.challengesquare{
  display:grid;
  max-height: 12rem;
  max-width:49.8rem;
  border: 1px solid white;
  
}
.text{
  
  color:#d6d6d6;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 1;
}
.introtext{
  background-color: #E45826;
  align-self: center;
  width:100%;
  padding:0.5rem;
  color:#d6d6d6;
 grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 3;
}
.score{
  background-color: orangered;
width: 5rem;
height: 5rem;
line-height: 5rem;
  margin:1rem;
  justify-self: left;
  font-size: 200%;
  font-weight: 400;
  text-align:center;
 
  color:white;
  border: 1px solid white;
  border-radius: 10rem;;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:2;
  grid-column-end: 2;
}
.yourscoreis{
  line-height: 5rem;
  justify-self: right;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 1;}
.question{
  color:white;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end: 1;
}
.answer{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end: 2;
}
.subjects{
margin-top:0.2rem;
  color:#E6D5B8;
  cursor:pointer;
  width:10rem;
  height:7.5rem;
  border: 1px solid orange;
  text-align:center;
}


.mappingpairscontainer{
  
  margin-left:10rem;
  width:30rem;
  align-items:center;
  justify-content: center;
   position:relative;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:3;
  grid-column-end: 3;
  display:grid;

}

.adminpairscontainer{
  display:grid;
  justify-content:first baseline;
}
.deletepairs{
  width:1rem;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 1;}
.adminenglish{
  color:yellow;
  margin-left: 2rem;
  border-bottom: solid 1px black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:2;
  grid-column-end: 2;}
.adminfinnish{
  color:white;
   margin-left: 2rem;
  border-bottom: solid 1px black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:3;
  grid-column-end: 3;
}
.addpair-btn{
  color:white;
   grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 3;
}
.addFinnishword{
  color:white;
   grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 2;
}
  .addEnglishword{
    color:white;
     grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end: 2;
  }
  .loginregistercard{
    display:grid;
    margin-top: 4rem;
    border:solid 1px rgb(255, 255, 255);
    position:relative;
   margin-left:auto;
    margin-right:auto;
    width:60rem;
    left:10rem;
   
  }
  .login{
    position:relative;
    top:2px;
    color:white;
     grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 2;
  }
  .register{
    position:relative;
    top:2px;
  
    color:white;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 2;
  }
  .Child{
    color:white;
  }
  .savinguserscore{
    cursor:pointer;
  }
  .congrats{
    color:white;
    position:absolute;
    top:40%;
    left:40%;
  }
  .cardswitch{
    color:white;
    position:absolute;
    top:10rem;
    left:40%;
  }
  select {

  /* styling */
  background-color: rgb(248, 244, 29);
  border: thin solid rgb(255, 255, 255);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
margin: 0;   
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;   }

  select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.chooseLanguages-btn{
  margin-top:1px;
font-size:10px;
color:white;
  position:absolute;
  border-radius: 100%;
  width:40px;
  height:40px;

  margin-left:10px;
background-color: rgb(0, 0, 0);
transition:all .2s;
}
.chooseLanguages-btn:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px 20px rgba(222, 221, 221, 0.2);
}
.chooseLanguages-btn:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2);
}
