.u-center-heading {
  text-align: center;
  margin-bottom: 1.4rem;
  font-weight: 100;
  font-size: 1.6rem; }

.chooseLanguages-btn {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  border-radius: 3px;
  width: 4rem;
  height: 2rem;
  margin-left: 14rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .4s; }
  .chooseLanguages-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
  .chooseLanguages-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }

.delete-btn {
  font-size: 1.7rem;
  font-weight: 900;
  position: absolute;
  color: #c8c7a9;
  width: 100%;
  height: auto;
  background-color: rgba(16, 15, 15, 0.5);
  border: 1px solid orange;
  top: 2.2rem;
  right: 2.1rem;
  transition: all .2s; }
  .delete-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(16, 15, 15, 0.5); }
  .delete-btn:active {
    transform: translateY(-0.5px);
    box-shadow: 0 3px 5px rgba(255, 84, 84, 0.4); }

.admin__subjectform--btn {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  border-radius: 3px;
  width: 5.5rem;
  height: 2rem;
  text-transform: uppercase;
  margin-left: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .4s; }
  .admin__subjectform--btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
  .admin__subjectform--btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4); }

.mappingpairscontainer__grid--deletebtn {
  width: 3rem;
  height: 3rem;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  transition: all .3s; }
  .mappingpairscontainer__grid--deletebtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
  .mappingpairscontainer__grid--deletebtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4); }

.addpair-div {
  position: relative;
  color: white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2; }
  .addpair-div_btn {
    position: absolute;
    top: 4rem;
    left: -8rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 3px;
    width: 6rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .4s; }
    .addpair-div_btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
    .addpair-div_btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }

.form-btn {
  top: 18rem;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  border-radius: 2px;
  width: 5.5rem;
  height: 2rem;
  text-transform: uppercase;
  margin-left: 30rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .4s; }
  .form-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
  .form-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(255, 84, 84, 0.4); }

.admin__subjectform {
  border: 1px solid #fff;
  background-image: linear-gradient(to right, rgba(200, 199, 169, 0.4), rgba(255, 255, 255, 0.6));
  align-items: left;
  text-align: left;
  position: absolute;
  top: -2rem;
  margin-top: 2rem;
  animation-duration: 5s;
  animation-name: fadingIn;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  width: 40rem; }
  .admin__subjectform--input {
    margin-left: .4rem;
    border: 1px solid #b01b1b;
    padding: 1rem;
    border-radius: 1rem; }

.admin__addpairs--form {
  align-items: left;
  text-align: left;
  margin-top: 2rem;
  animation-duration: 5s;
  animation-name: fadingIn;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  height: 15rem;
  display: grid; }
  .admin__addpairs--form--input {
    margin-left: 1rem;
    border: 1px solid #b01b1b;
    padding: 1rem;
    border-radius: 1rem; }
  .admin__addpairs--form_secondlanguage {
    margin-top: 1rem;
    margin-left: .8rem;
    color: black;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1; }
  .admin__addpairs--form_firstlanguage {
    margin-left: 1.1rem;
    color: #4f8202;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1; }

.form {
  width: 90%; }
  .form__group {
    width: 95%; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
    .form__group-label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 1rem;
      margin-top: .7rem;
      transition: all .3s;
      display: block; }
    .form__group-input {
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 1.5rem 1rem;
      border-radius: 2px;
      width: 98%; }
      .form__group-input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        border-bottom: 3px solid rgba(0, 128, 0, 0.8); }
        .form__group-input:focus:invalid {
          border-bottom: 3px solid orangered; }
    .form__group-input:placeholder-shown + .form__group-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }

.switch {
  line-height: 2.4rem;
  display: inline-block;
  padding: 2rem;
  height: 14rem;
  max-width: 35rem;
  color: black;
  position: relative;
  top: 10rem;
  left: 44%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: justify; }
  .switch__dropdown {
    background-color: #c8c7a9;
    border: thin solid white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .switch__dropdown:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
  .switch__main-paragraph {
    font-size: 1.4rem; }

/*FILTER*/
.filter-container {
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  align-items: center;
  width: 37rem;
  display: grid; }

.filter-child {
  padding: 1rem 1rem;
  align-items: center;
  color: #2d311b;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
  text-align: center;
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  border-radius: 3px;
  margin-right: 1rem;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  transition: all 2s; }
  .filter-child:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); }
  .filter-child:active {
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }

.filter-admin {
  padding: 1rem 1rem;
  align-items: center;
  color: #2d311b;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  transition: all 2s; }
  .filter-admin:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); }
  .filter-admin:active {
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }

.filter-register {
  padding: 1rem 1rem;
  align-items: center;
  color: #2d311b;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(232, 232, 232, 0.1);
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  transition: all 2s; }
  .filter-register:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); }
  .filter-register:active {
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }

.admin__addpairs--form_grid {
  position: relative;
  width: 100%;
  height: 20rem;
  justify-content: left;
  text-align: center;
  display: block;
  background-image: linear-gradient(to right, rgba(200, 199, 169, 0.4), rgba(255, 255, 255, 0.6));
  border-radius: 4px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 198, 25, 0.8), rgba(255, 255, 255, 0.9)), url(../img/bg-main.jpg);
  background-size: cover;
  background-position: top;
  font-family: "Lato", sans-serif; }

.child {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 5rem;
  display: grid;
  grid-gap: 3rem;
  grid-row-gap: 3rem;
  width: 60rem; }
  .child__subjectscontainer {
    margin: 2rem 0;
    right: 18rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-duration: 2s;
    animation-name: moveInLeft;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1; }
  .child__subjects {
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.2rem;
    color: #1B1A17;
    cursor: pointer;
    width: 10rem;
    height: 7.5rem;
    border: 1px solid orange;
    text-align: center;
    transition: all 1s; }
    .child__subjects:hover {
      border: 0.1px solid #2d2d2d;
      font-size: 1.3rem;
      color: #1B1A17;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }

.tableinusechild {
  border-radius: 20px;
  position: relative;
  text-align: center;
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid grey;
  color: #E45826;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  left: 10rem;
  background-color: rgba(200, 199, 169, 0.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.mainAdmin {
  border: 1px solid #000;
  width: 90%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 8rem;
  gap: 30%;
  row-gap: 1rem;
  display: grid; }

.subjectscontaineradmin {
  max-width: 30rem;
  align-items: center;
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1; }

.adminsubject-container {
  display: flex;
  max-width: 30rem;
  justify-content: center; }
  .adminsubject-container:first-child {
    margin-top: 6rem; }

.subjectsadmin {
  line-height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  animation-duration: 5s;
  animation-name: moveInLeft;
  margin-top: 2rem;
  color: #000000;
  cursor: pointer;
  width: 12rem;
  height: 9.5rem;
  border: 1px solid orange;
  text-align: center;
  transition: all .7s; }

.subjectsadmin:hover {
  font-size: 1.2rem;
  color: #1B1A17;
  background-color: #ffea04; }

.deleteAsubject {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  animation-duration: 10s;
  animation-name: fadingIn;
  position: relative;
  width: 2rem;
  height: 2rem;
  text-align: center; }

.mappingpairscontainer {
  position: absolute;
  max-width: 50rem;
  align-items: right;
  top: 0;
  position: relative;
  margin-left: 20rem;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid; }
  .mappingpairscontainer__grid {
    min-height: 3rem;
    margin-bottom: .5rem;
    display: grid;
    justify-content: left; }
    .mappingpairscontainer__grid:first-child {
      margin-top: 2rem; }

.admin__firstlanguageword {
  height: 1.5rem;
  font-size: 1.3rem;
  color: black;
  margin-left: 1rem;
  border-bottom: solid 1px black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2; }

.admin__secondlanguageword {
  height: 1.5rem;
  color: red;
  font-size: 1.3rem;
  margin-left: 2rem;
  border-bottom: solid 1px black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3; }

.challenge {
  margin-left: -8rem;
  position: relative;
  font-size: 1.4rem;
  display: grid;
  width: auto;
  border: 0.2 solid white;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  max-height: 12rem;
  margin-top: 1.2rem; }
  .challenge__square {
    max-height: 40rem;
    display: grid;
    border: 1px solid white; }
    .challenge__square-score {
      background-color: orangered;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      margin: 1rem;
      justify-self: left;
      font-size: 200%;
      font-weight: 400;
      text-align: center;
      color: white;
      border: 1px solid white;
      border-radius: 10rem;
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 2; }
    .challenge__square-yourscoreis {
      line-height: 7rem;
      justify-self: right;
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1; }
    .challenge__square-question {
      text-align: right;
      padding: .7rem;
      width: 30rem;
      border-bottom: 1px solid orangered;
      font-size: larger;
      color: #090808;
      grid-row-start: 3;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 1; }
    .challenge__square-answer {
      grid-row-start: 3;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 2; }
      .challenge__square-answer__form {
        background-color: rgba(253, 253, 253, 0.2); }
        .challenge__square-answer__form-input {
          height: 4rem;
          margin-left: .4rem;
          border: none;
          padding: 1rem;
          border-radius: .2rem; }
          .challenge__square-answer__form-input:focus {
            outline: none; }
        .challenge__square-answer__form-btn {
          margin-top: 1rem;
          font-size: 1.2rem;
          color: #fff;
          border-radius: 3px;
          width: 4rem;
          height: 2rem;
          background-color: rgba(0, 0, 0, 0.6);
          transition: all .2s; }
          .challenge__square-answer__form-btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(16, 15, 15, 0.5); }
          .challenge__square-answer__form-btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 5px rgba(239, 239, 239, 0.2); }
  .challenge__introtext {
    background-color: #E45826;
    align-self: center;
    width: 100%;
    padding: 0.5rem;
    color: #d6d6d6;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3; }

.text {
  color: #d6d6d6;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1; }

.congrats {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  position: relative;
  margin-top: 2rem;
  text-align: center;
  width: 40rem;
  height: auto;
  border-bottom: solid 1px #251f1f;
  color: #4c3c3c;
  font-size: 2rem;
  transition: all .2s; }
  .congrats__heading {
    padding: 4rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    background-image: linear-gradient(to right, #2b2b04, #d5d5dc);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    letter-spacing: 2px; }
    .congrats__heading:hover {
      transform: scale(1.2);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6); }
    .congrats__heading-paragraph {
      font-size: 1rem; }

.cardcong {
  width: 40rem;
  position: relative;
  perspective: 150rem;
  moz-perspective: 150rem;
  height: 52rem; }
  .cardcong__answers-container {
    font-size: 1rem;
    padding: 2px 2px;
    width: 100%;
    display: inline-block; }
    .cardcong__answers-container-flex {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .cardcong__answers-container-flex-data {
        width: 25%;
        overflow: hidden;
        line-height: normal; }
    .cardcong__answers-container-titles {
      float: left;
      width: 25%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.4rem; }
  .cardcong__side {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 40rem;
    overflow: hidden;
    backface-visibility: hidden; }
    .cardcong__side--front {
      background-image: linear-gradient(to bottom right, #fff 40%, gray); }
    .cardcong__side--back {
      background-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(128, 128, 128, 0.5));
      transform: rotateY(180deg); }
      .cardcong__side--back-header {
        padding: 1rem 1rem;
        text-transform: uppercase;
        font-size: 1.6rem; }
  .cardcong:hover .cardcong__side--front {
    transform: rotateY(-180deg); }
  .cardcong:hover .cardcong__side--back {
    transform: rotateY(0deg); }

.card__loginregister {
  background-image: linear-gradient(to right bottom, rgba(99, 99, 99, 0.4), rgba(146, 186, 3, 0.788));
  background-size: cover;
  background-position: top;
  border-radius: 2rem;
  padding: 3rem;
  height: 50rem;
  display: grid;
  margin-top: 1rem;
  border: solid 1px rgba(255, 255, 255, 0.821);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  font-size: 1.2rem; }

.form__login {
  position: relative;
  top: 2px;
  color: white;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2; }

.form__register {
  position: relative;
  top: 2px;
  color: white;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2; }

.Appjs {
  width: 100%; }

@keyframes fadingIn {
  0% {
    opacity: 0; }
  80% { }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.input {
  height: 2rem;
  margin-bottom: 2rem; }

.Child {
  color: white; }

.savinguserscore {
  cursor: pointer; }
